@media all {
    *{
        text-align: left;
    }
    p{
        font-weight: bold;
        font-size: 20px;
    }
}
@media only screen{
    img{
        display: block;
        margin: auto;
    }
}
@media only print{
    header,footer,nav,aside{
        visibility: hidden;
    }

}
