:root{
    --font-size: 12px
}
* {
    margin: 0;
    padding: 0;
    color: black;
    font-family: Courier, monospace;
    font-size: var(--font-size);
    line-height: 1.2;
}
h1 {
    text-transform: capitalize;
    color: #330000;
    font-size: calc(var(--font-size) * 2);
    text-shadow: 1px 1px 1px blue;
    word-spacing: 5px;
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}