:root {
    --color-acerca-de: #dd820d;
    --color-parrafo-acerca-de: #5a5a5a;
    --color-azul-texto-boton: #3895EA;
    --color-subtitulo: #636363;
    --color-contenedor-fotos: #f2f2f2;
    --color-bordes-formulario: #cecece;
    --color-boton-hover: #387bea;
    --color-fondo-footer: #1e2b38;
}
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 16px;
}
h3{
    font-size: 34px;
}
header .contenedor{
    width: 100%;
    min-height: 600px;
    background-image: url("Images/bg.jpg");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    position: absolute;
    top: 0;
    right: 0;
    margin:40px 15%;
}
.menu a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
}
.menu a:hover{
    text-decoration: underline;
    text-underline-offset: 15px;
    text-decoration-thickness: 2px;
}
.contenedor-texto{
    color: white;
    text-align: center;
    border: 1px solid white;
    padding: 10px 50px;
}
.contenedor-texto .nombre{
    font-weight: lighter;
}
.contenedor-texto .profesion{
    font-weight: normal;
}
.acerca-de{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.foto{
    transform: translateY(-60.5px) rotate(0.6deg);

}
.foto img{
    border-radius: 100px;
}
.descripcion p{
    font-size: 14px;
}